<?xml version="1.0"?>
<model>
  <name>olivier_provence_14</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>DIAMANTS Provencal Tree Generator</name>
  </author>
  <description>
    Arbre olivier_provence provençal procédural - Variation 14
  </description>
</model>