<?xml version="1.0"?>
<model>
  <name>cypres_provence_06</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>DIAMANTS Provencal Tree Generator</name>
  </author>
  <description>
    Arbre cypres_provence provençal procédural - Variation 6
  </description>
</model>