[MASTER]
disable=
    import-error,
    no-name-in-module,
    unused-import,
    too-many-instance-attributes,
    too-many-locals,
    too-few-public-methods,
    invalid-name,
    unused-variable,
    attribute-defined-outside-init,
    too-many-statements,
    too-many-branches

[MESSAGES CONTROL]
disable=C0103,C0114,C0115,C0116,R0903,R0913,R0902,R0914,E0203,W0201,C0301,W0613

[FORMAT]
max-line-length=120
